pom.xml
*.jar
.*.swp
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
/classes/
/lib/
/target/
.lein-deps-sum
.clj-kondo/.cache
.lsp/.cache
.portal/vs-code.edn
.cache
.cpcache
**/.calva/output-window
