{:paths ["src/clj" "target/classes"]
 :deps {}
 :deps/prep-lib {:alias :build
                 :fn compile
                 :ensure "target/classes"}
 :aliases
 {:clojure-1.9 {:extra-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
  :clojure-1.10 {:extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
  :clojure-1.11 {:extra-deps {org.clojure/clojure {:mvn/version "1.11.0-beta1"}}}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}}
          :ns-default build}}}